@import '../../styles/app';

// .mainTableWidget {
//   :global {
//     .table td {
//       border: none;
//     }
//   }
// }

.dropzone {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  border: 4px dashed #aaa;
  border-radius: 10px;
  text-align: center;
  font-size: 1.8rem;
  margin-right : 40px;
  margin-top: 30px;

  .uploadIcon { color : white }
  .fileUploader { height : 100% }

  .fileContainer {
    height : 100%;
    margin : 0;
    background-color: transparent;

    .uploadPictureContainer {
      width: 100%;
    }
  
    p { display: none; }

  }

}

.dropzone.has-preview .uploadIcon { display: none; }
.dropzone.has-preview .chooseFileButton  { display: none; }


.teamname_field {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.teamabout_field {
  min-height: 170px; 
}

.table td {
  vertical-align: middle;
}