@import '../../styles/app';

// .mainTableWidget {
//   :global {
//     .table td {
//       border: none;
//     }
//   }
// }

.dropzone {
  height: 200px;
  width: 200px;
  display: flex;
  align-items: center;
  border: 4px dashed #aaa;
  border-radius: 20px;
  text-align: center;
  font-size: 1.8rem;
  padding : 10px;
  margin-right : 40px;
  margin-top: 30px;
}

.teamname_field {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.teamabout_field {
  min-height: 170px; 
}
