.news-section {
    border : 2px solid #040620;
    padding : 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.sections-wrapper {
    display: flex;
    flex-direction: column;

    &.flex-h {
        flex-direction: row;

        & > div {
            flex : 1;
            margin-right : 5px;
            margin-left : 5px;
        }
    }
}

.news-cover-placeholder {
    height : 400px;
    width : 300px;
    border : 2px dashed #fff;
    margin-right: 20px;
    margin-left: 20px;
    color : #fff;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-cover-placeholder svg {
    height: 100px;
    fill: #fff;
    margin-bottom: 30px;
}

.news-cover {
    object-fit: cover;
    height: 400px;
    width: 300px;
    padding-right: 20px;
    padding-left: 20px;
}