textarea.overview {  
  display: block;
  width: 100%;
  height: 200px;
  overflow: auto;
  resize: both;
}

.overview[contenteditable]:empty::before {
  content: "Placeholder still possible";
  color: gray;
}

.tournament-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  border: 5px dashed white;
  margin-bottom: 50px;
  overflow: hidden;
}

.tournament-cover .cover-label {
  position: absolute;
  background-color: rgb(87, 126, 170);
  color : white;
  padding: 10px;
  border-radius: 10px;
}

.tournament-cover .cover-label:hover{
  background-color: rgb(69, 100, 136);
}

.tournament-cover .cover-label i{
  margin-right: 10px;
}

.tournament-cover input {
  display: none;
}

.tournament-cover .cover-img {
  width: 100%;
  object-fit: contain;
}

.nav-tabs > .nav-item > .nav-link {
  border-radius: 0;
}

.prize-photo-preview {
  margin: 0 20px 20px;
  width: 200px;
  height: 200px;
  border : 5px dashed #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.prize-photo {
  margin: 0 20px 20px;
  width: 150px;
  height: 150px;
  position: relative;
}

.prize-photo-preview span {
  position: absolute;
  z-index: -1;
}

.prize-photo-preview img{
  height: 100%;
  // max-width: 100%;
  object-fit: cover;
}